.search-wrapper {
  position: relative;

  .form-control {
    height: 46px;
    border: 0;
    outline: 0;
    @extend .shadow;

    &::placeholder {
      color: $text-color-light;
      font-size: 15px;
    }

    &-lg {
      height: 70px;
    }

    &.active.focus-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    i {
      color: $primary-color;
    }
  }
}


.card {
  @extend .shadow;
  @extend .rounded;
  transition: .2s ease;
  border: 0;

  &-lg {
    .card-body {
      padding: 35px;
    }
  }

  &-icon {
    background: $primary-color;
    color: $white;
    padding: 10px 0;
    width: 53px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    @extend .rounded;
  }

  &-text {
    margin-bottom: 0;
  }

  &-title {
    font-weight: 700;
  }

  &-body {
    padding: 25px;
  }

  &:hover {
    box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.2) !important;
  }
}

.social-icons {
  margin-bottom: 0;

  a {
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    color: $white;
    background: $primary-color;
    border-radius: 6px;
  }
}

.footer-menu {
  margin-bottom: 0;

  a {
    display: block;
    padding: 10px;
    font-weight: 500;
    color: $text-color;
    transition: .2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

/* sidenav */
.sidenav {
  border-right: 1px solid $border-color;
  padding-right: 20px;

  a:hover {
    color: $hover-color !important;
  }

  ul {
    padding-left: 10px;
  }

  &>li {
    a {
      padding: 20px 0;
      color: $text-color-dark;
      display: block;
      font-size: 18px;
      font-weight: 500;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  .sidelist {
    ul {
      display: none;
    }
  }

  .parent {
    &>a {
      color: $primary-color !important;
      position: relative;

      &:hover {
        color: $hover-color !important;
      }

      &::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 25%;
        height: 50%;
        width: 1px;
        background: $primary-color;
      }
    }

    ul {
      display: block;
      margin-bottom: 10px;

      a {
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400;
        color: $text-color-dark;
      }

      li.active>a {
        margin-left: 0px;
        font-weight: bold;

        &:hover {
            color: $primary-color !important;
        }

        &::before {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          display: none;
          top: 13px;
        }
      }
    }
  }
}

/* /sidenav */


.page-list {
  list-style-type: none;

  a {
    display: none;
  }

  ul {
    padding: 0;

    a {
      display: inline-block;
      padding: 7px 0;
      font-size: 20px;
      color: $text-color-dark;
    }
  }
}

.pagination {
  margin-top: 50px;
  justify-content: space-between;

  a {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
  }

  svg {
    height: 28px;
    font-size: 15px;
  }
}

// code-tab
.code-tabs {
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary-color;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}



// copy to clipboard

pre {
  position: relative;

  .copy-to-clipboard {
    background: $primary-color;
    color: $white;
    cursor: pointer;
    padding: 4px 5px;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

:not(pre)>code+span.copy-to-clipboard {
  display: none;
}


// autocomplete
.autocomplete-suggestions {
  border: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 50px 60px rgba(62, 62, 62, 0.102) !important;
  background: $white;

  &::-webkit-scrollbar {
    width: 5px;
    &-track {
      background: $light; 
    }
    &-thumb {
      background: $border-color; 
    }
  }

  .autocomplete-suggestion {
    transition: .2s ease;
    padding: 10px;
    font-weight: 500;

    &.selected {
      background: $primary-color;
    }
  }
}


.search-item {
  a {
    color: $text-color-dark;
    display: block;

    &:hover {
      color: $primary-color;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}



.form-group {
  label {
    font-size: 15px;
    font-weight: 500;
  }

  .form-control {
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    padding: 10px 0;

    &::placeholder {
      font-size: 13px;
      color: $text-color-light;
    }

    &:focus {
      outline: 0;
      border-color: $primary-color;
      box-shadow: none;
    }
  }

  .custom-select {
    font-size: 13px;
    color: $text-color-light;
  }

  textarea.form-control {
    height: 100px;
  }
}

.badge {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 10px;

  &.added {
    background: #3778FF;
    color: $white;
  }

  &.fixed {
    background: #F54773;
    color: $white;
  }

  &.changed {
    background: #3AAA55;
    color: $white;
  }

  &.depricated {
    background: #343434;
    color: $white;
  }

  &.removed {
    background: #3bbfe4;
    color: $white;
  }

  &.security {
    background: #F53535;
    color: $white;
  }

  &.unreleased {
    background: #A037FF;
    color: $white;
  }
}

//CHANGE add bottom margin


.collapse-wrapper {
  padding: 5px 15px;
  margin-bottom: 20px;

  .anchor {
    visibility: hidden; 
    color:silver;
    float: left;
    margin-left: -35px;
  }

  .anchor.show {
      visibility: visible;
  }

  .collapse-head {
    text-decoration: none;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    align-items: center;

    &:hover {
        color: $hover-color;
    }
  }
}

.collapse-light-wrapper {
    margin-bottom: 20px;

    .anchor {
        visibility: hidden; 
        color:silver;
        float: left;
        margin-left: -15px;
        margin-top: 4px;
        font-size: 70%;
      }
    
      .anchor.show {
          visibility: visible;
      }
  
    .collapse-light-button {
      text-decoration: none;
      color: $text-color;
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
      align-items: center;

      .icon {
        font-size: 12px;
      }

      &:hover {
        color: $hover-color;
    }
    }

  }

//CHANGE to hide/show collapse chevrons
a[aria-expanded=true] .fa-chevron-right {
    transition: .3s transform ease-in-out;
    transform: rotate(90deg);
}

a[aria-expanded=false] .fa-chevron-right {
    transition: .3s transform ease-in-out;
    transform: rotate(0deg);
}

a[aria-expanded=true] .fa-play {
    transition: .3s transform ease-in-out;
    transform: rotate(90deg);
}

a[aria-expanded=false] .fa-play {
    transition: .3s transform ease-in-out;
    transform: rotate(0deg);
}

a[aria-expanded=true].collapse-head {
    margin-bottom: 20px;
}

#TableOfContents {
    display: block;
    background: transparent;
    padding-bottom: 2rem;
    font-size: 1em;
  
    ul {
      display: list-item;
      padding-left: 0;
      list-style: none;
      padding-top: 10px;

      &:not(:first-child) {
        display: list-item;
        padding-left: 0.9rem;
        font-size: 95%;
      }
    }
  
    li {
      display: inherit;
      color: $text-color-light;
      padding-left: 0;

      &::before {
          background: none;
      }
  
      a {
        color: inherit;
        text-align: left;
        padding: 0;
  
        &:hover {
          color: $highlight-color;
          background-color: transparent;
        }
      }
    }
  }

// a[aria-expanded=true] .fa-chevron-right {
//     display: none;
//  }
//  a[aria-expanded=false] .fa-chevron-down {
//     display: none;
//  }

:not(.highlight) pre {
  background: $light;
}

// content style
.content {

  *{
    word-break: break-word;
    overflow-wrap: break-word;
  }

//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     font-weight: 500;
//   }

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 8px;
      }
    }

  }



  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #EEEEEE;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid #EEEEEE;
    }
  }

  tbody {
    background: #fff;
    margin-bottom: 0;
  }

  // CHANGE: all the notice classes
  .notices {
    margin: 0 0;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    background-color: $callout-color;
    border-radius: 8px;
	border: 1px solid #eaeaea;
  }

  .notices p {
    padding: 20px;
    margin-bottom: 0;
    padding-left: 4rem;
  }

  .notices p svg {
	  top: 21px;
  }

//   .notices.note p {
//     // border-top: 30px solid #6ab0de;
//     background: #e7f2fa;
//   }

//   .notices.note p::after {
//     content: 'Note';
//     position: absolute;
//     top: 2px;
//     color: #fff;
//     left: 2rem;
//   }


//   .notices.tip p {
//     // border-top: 30px solid #78C578;
//     background: #E6F9E6;
//   }

//   .notices.tip p::after {
//     content: 'Tip';
//     position: absolute;
//     top: 2px;
//     color: #fff;
//     left: 2rem;
//   }

//   .notices.info p {
//     // border-top: 30px solid #F0B37E;
//     background: #FFF2DB;
//   }

//   .notices.info p::after {
//     // content: 'Info';
//     position: absolute;
//     top: 2px;
//     color: rgb(62, 20, 140);
//     left: 2rem;
//   }


//   .notices.warning p {
//     // border-top: 30px solid #E06F6C;
//     background: #FAE2E2;
//   }

//   .notices.warning p::after {
//     content: 'Warning';
//     position: absolute;
//     top: 2px;
//     color: #fff;
//     left: 2rem;
//   }


  blockquote {
    font-size: 20px !important;
    color: $text-color-dark;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $light;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

/*CHANGE - added to grow width of site for larger screens */
@media (min-width: 1440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1440px;
    }
}

/*CHANGE added this so code blocks don't wrap. */
pre code { white-space: pre; }

/* img shortcode */

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
  }
  
  .overlay img{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    transform: scale(0.95);
    transition: transform .3s;
  }
  
  .overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
  }
  
  .overlay:target img {
      transform: scale(1);
  }

.md-image {
    padding: 0;
    margin: 0;

    .anchor {
        visibility: hidden; 
        color:silver;
        margin-right: 2px;
      }
    
      .anchor.show {
          visibility: visible;
      }
}

/* img shortcode */


/* override border/bg color of chroma highlight shortcode using monokailight */


// div.highlight {
//     border: 1px solid #e8e8e8;
//     background-color: #fdfdfd;
//     border-radius: 5px;
//     margin-bottom: 20px;
// }
  
// div.highlight pre, div.highlight pre code {
//     background-color: #fdfdfd !important;
// }


/* end */

/* image alignment hack  */

.md-image.center {
    justify-content: center;
}

.md-image.right {
    justify-content: left;
    margin-right: 20px;
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#left']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#right']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

/* end */

/* Left nav hide/show button */

#leftNavHideShowBtn {
    margin-top: -20px;
    border:0px;

    &:hover {
        color: $hover-color;
    }
}

@media screen and (max-width: 766px) {
    #leftNavHideShowBtn {
        display: none !important;
        color: red;
    }
}

#leftNavHideShowBtn[aria-expanded=true] .fa-chevron-left {
    transition: .3s transform ease-in-out;
    transform: rotate(0deg);
}

#leftNavHideShowBtn[aria-expanded=false] .fa-chevron-left {
    transition: .3s transform ease-in-out;
    transform: rotate(0deg);
    transform: rotate(90deg);
}

/* end */

/* Change Date */

.lastChangeDate {
    position: relative;
    float: right;
    margin-top: -56px;
}

.lastChangeDate span.old {
    color: #b00202;
}

.lastChangeDate span.old:hover {
    color: red;
}

.lastChangeDate span.current {
    color: green;
}

.lastChangeDate span.current:hover {
    color: #00bf00;
}

@media screen and (max-width: 790px) {
    .lastChangeDate {
        margin-top: -38px;
    }
}

@media screen and (max-width: 640px) {
    .lastChangeDate {
        margin-top: -30px;
    }
}

/* end */

.heading-anchor { 
    visibility: hidden; 
    color:silver !important;
    float: left;
    line-height: 2;
    font-size: 60%;
    margin-left: -20px;
    margin-top: 5px;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a { visibility: visible}

h1 .heading-anchor {  
    margin-left: -20px;
    margin-top: 5px;
}

h2 .heading-anchor {  
    margin-left: -16px;
    margin-top: 2px;
}

h3 .heading-anchor {  
    margin-left: -14px;
    margin-top: 2px;
}

h4 .heading-anchor {  
    margin-left: -13px;
    margin-top: 1px;
}

h5 .heading-anchor {  
    margin-left: -12px;
    margin-top: 1px;
}

h6 .heading-anchor {  
    margin-left: -10px;
    margin-top: 0px;
}


/* end */

/** Comments section **/

#comments  {
	margin-top: 80px;
}

#comments hr {
	display: none;
}

.nav-icon-btn {
	color: #3c7ab1;
	cursor: pointer;
}

.nav-icon-btn:hover {
	color: #4593d7;
}

.nav-icon-btn:active {
	color: #346da0;
}

 .nav-icon-btn .num-comments {
	margin-top: 6px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#commentPlusHeader {
	font-size: 14px;
}

/* Version History */
ins {
    color: green;
}

del {
    color: red;
    text-decoration: line-through !important;
}

#historyList {

}

#historyList li {
    padding: 10px;
    border: 1px solid #cbcaca;
    margin-bottom: 5px;
    border-radius: 5px;
}

#historyList li.selected {
    background-color: #e6e6e6;
    color: #0c9107;
}

#historyList li span.current {
    float: right;
}

#historyList li:not(.selected):hover {
    background-color: #0086ff;
    color: white;
    cursor: pointer;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    text-decoration: inherit;
    z-index: inherit;
}
  
.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
    font-size: inherit;
}

.tooltip .top {
    min-width:50px; 
    max-width:200px;
    //top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:5px 12px;
    background-color:#eeeded;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #e7e5e5;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

ins.tooltip {
    border-bottom:1px dotted #666;
}

ins.tooltip .top {
    color: green;
}

del.tooltip .top {
    color: red;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#eeeded;
    border:1px solid #e7e5e5;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}